body {
	width:			1000px;
	margin:			auto;
	font-family:	tahoma, sans-serif;
}
#head {
	text-align:		center;
	font-size:		2em;
	padding:		20px;
}
#body {
	position:		relative;
	text-align: 	left;
	font-size: 		1em;
}
.gray {
	background-color:#BBB;
}
.white {
	background-color:#EEE;
}
.rounded {
	-moz-border-radius:	30px;
	-webkit-border-radius: 30px;
	border-radius:	30px;
}
.squared {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
}
.padded-20 {
	padding:		20px;
}
.padded-5 {
	padding:		5px;
}
#chat {
	float:			left;
	width:			705px;
	margin:			0 5px 0 0;
}
#response {
	height:			200px;
	overflow-y:		auto;
}
#users {
	float:			left;
	width:			205px;
	margin:			0 0 0 5px;
}
#userlist {
	heigth:			200px;
	overflow-y:		auto;
}
a:link {
	color:			#563412;
}
a:visited {
	color:			#341256;
}
a:hover {
	color:			#123456;
}
a:active {
	color:			#345612;
}

.visible {
	display:		block;	
}

.invisible {
	display:		none;	
}